@tailwind base;
@tailwind components ;
@tailwind utilities ; 

.App {
  text-align: center;
}
.rotate-error-img{
  width: 100px;
  animation: rotation 2s infinite linear;

}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
a{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
  color: lightgray;
}
.nav-bar{
  color: lightgray;
  font-size: 30px;
  margin: 0;
  display: inline;
}
.discover-grid {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: auto;
  padding: 0.5em;
  margin: 1em;
}
.song-img{
  width: 300px;
}
.song-card:hover{
  transform: scale(1.1);
}
.audioPlayer{
  position: fixed;
  bottom: 0;
}
