@tailwind base;
@tailwind components ;
@tailwind utilities ; 

.App {
  text-align: center;
}
.rotate-error-img{
  width: 100px;
  animation: rotation 2s infinite linear;

}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.discover-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  padding: 0.5em;
  margin: 1em;
}

.song-card:hover{
  transform: scale(1.1);
}