.App {
  text-align: center;
}

.discover-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  padding: 0.5em;
  margin: 1em;
}

.song-card:hover{
  transform: scale(1.1);
  
}